<body>
  <div class='login' id='login'>
    <div class="form">
  <form [formGroup]="loginForm" (submit)="loginFormSubmit()" method="post">

    <div class="form-group">

      <input type="text" name="username" class='text' id='username' placeholder="Username" formControlName="username" required minlength="4"><br>
    </div>
    <div  class="error" *ngIf="loginForm.controls['username'].invalid&&loginForm.controls['username'].touched">
      <small *ngIf="loginForm.controls['username'].errors?.['required']">Enter the Username</small><br>
      <small *ngIf="loginForm.controls['username'].errors?.['minlength']">Username must contain more than 3 characters</small>
    </div>
    <div class="form-group">

      <input type="password" name="password" class='password'  formControlName="password" placeholder="Password eg:Abc#678" required minlength="8" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[!@#$%^&*()]).{8,16}$"><br>
    </div>
    <div class="error" *ngIf="loginForm.controls['password'].invalid&&loginForm.controls['password'].touched">
      <small *ngIf="loginForm.controls['password'].errors?.['required']">Enter the passord</small><br>
      <small *ngIf="loginForm.controls['password'].errors?.['minlength']">Password must contain more tha 8 letters</small><br>
      <small *ngIf="loginForm.controls['password'].errors?.['pattern']">Password must contain atleast One uppercase, Lowercase and Special case</small>
    </div>

    <button class='btn-login' id='do-login' [disabled]="!loginForm.valid">Login</button><label id="lab">New user...?</label><a class="cta"class='btn-login' id='do-login' role="button" routerLink="/sign-up"> Create account</a>

  </form>
</div>
</div>
</body>
