
html, body {
  -webkit-overflow-scrolling: auto;
  background-color: #FFFFFF !important;
  height: 100%;
}

#warpper {
  height: 100%;
}

.super-container {
  height: auto;
}

@media only screen and (min-width: 992px) {
  body {
    user-select: auto;
  }
}
.rating{
  letter-spacing: 0.2px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.movie-title {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0px;
}

.movie-info {
  font-size: 1.5rem;
  margin-top: 0;
}

.movie-description {
  font-size: 1.25rem;
}
#readmore {
	border-color:3px solid black;
	background-color:red;
	font-size:20px;
	font-weight:bold;
	margin:35px;
	width:30px;
  padding: 15px 10px;
  color: black;
  border-radius:15px;
}
.buttons {
  margin-top: 1.5rem;
}

.btn-primary {
  background-color: #ec1d24;
  border-color: #ec1d24;
  border-radius:10px;
  margin-left: 10px;
  letter-spacing: 0.2px;
    padding: 12px 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.btn-primary:hover {
  background-color: #c70006;
  border-color: #c70006;
}

.btn-outline-secondary {
  color: #ec1d24;
  border-color: #ec1d24;
}

.btn-outline-secondary:hover {
  background-color: #ec1d24;
  border-color: #ec1d24;
  color: #fff;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.col-md-4{
  width: 92%;

}
.col-md-8{
  -webkit-box-flex: 1;
  width:92%;
    flex-grow: 1;
    padding-left: 32px;
    max-width: 520px;
}
.row{
    align-items: center;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 1240px;
    margin: 0px auto;
    position: relative;
    width: 100%;
}
iframe{
  overflow: hidden;
    flex-shrink: 0;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.ved{
  position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    padding:32px 0px;
    margin-left:45px;
  }
.frame{
  -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 1240px;
    margin: 0px auto;
    position: relative;
    width: 100%;
}
